*{
    font-family: 'Ubuntu', sans-serif;
    margin: 0;
}

/* section-1 styles */

.section-1{
    display: flex;
    width: 80%;
    margin: 20px auto;
    border-radius: 20px;
    background-color: orangered;
}

.section-1-left{
    width: 50%;
    display: flex;
    flex-direction: column;
    padding: 30px 15px 50px 15px;
}

.section-1-h3{
    font-size: 3em;
    padding: 15px 0px;
    color: antiquewhite;
}

.section-1-p{
    font-size: 1.5em;
    color: bisque;
    text-align: justify;
    padding: 15px 0px;
}

.gold-button{
    text-decoration: none;
    text-align: center;
    background-color: gold;
    padding: 5px 15px;
    border-radius: 5px;
    color: red;
    margin: 5px 0px;
    font-size: 1em;
    
}

.section-1-right{
    width: 50%;
}

.section-1-right{
    position: relative;
}

.section-1-image{
    position: absolute;
    right: 10px;
    bottom: 0px;
}

/* section-2 styles */

.section-2{
    display: flex;
    width: 80%;
    margin: 20px auto;
    border-radius: 20px;
}

.section-2-left{
    width: 220px;
    height: 80px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 30px 15px 30px 15px;
    margin: 5px auto;
    border-radius: 8px;
    background-color: orangered;
    
}

.white-button{
    text-decoration: none;
    text-align: center;
    background-color: whitesmoke;
    padding: 5px 15px;
    border-radius: 5px;
    color: red;
    margin: 5px 0px;
    font-size: 1em;        
}

.upcoming-match{
    padding: 5px;
}

.all-group{
    padding: 5px;
}

.section-2-right{
    width: 100%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-content: center;
    margin-left: 15px;
    border-radius: 8px;
    height: 100%;   
}

.thumbnail{
    display: flex;
    flex-direction: column;
    border: 1px solid rgba(199, 204, 207, 0.634);
    border-radius: 12px;
    height:fit-content;
    margin: 0px 0px 10px 10px;
}

.thumbnail-photo img{
    width:100%;
}

.transfer-button{
    text-decoration: none;
    text-align: center;
    background-color: whitesmoke;
    padding: 5px 15px;
    border: 1px solid grey;
    border-radius: 5px;
    color: rgb(79, 79, 79);
    margin: 5px 0px;
    font-size: 0.75em;        
}

.thumbnail-button{
    margin: 10px 0;
    padding-left: 10px;
}

.thumbnail-title{
    padding-left: 10px;
}

.thumbnail-hybrid{
    padding-left: 10px;
    padding: 10px;
}

.thumbnail-p{
    font-size: 1.em;
}

.thumbnail-hybrid-text{
    display: flex;
    justify-content:flex-start;
}

.thumbnail-time{
    display: flex;
    padding-right: 10px;
}

.thumbnail-time p{
    padding-right: 8px;
    color: grey;
}

/* Styles for Footer  */

footer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: black;
    color: antiquewhite;
    padding: 20px;
    
}

.footer-name p{
    text-align: center;
    font-size: 24px;
    font-weight: 600;
    padding-bottom: 20px;
}

.footer-hr{
    width: 80%;
    margin: auto;
    border: 1px solid rgb(50, 50, 50);
    
}

.footer-nav{
    display: flex;
    justify-content: space-around;
    padding-top: 20px;
}

.footer-nav a{
    text-decoration: none;
    color: rgb(251, 209, 155);
    
}

.socials{
    display: inline;
    justify-content: center;
    text-align: center;
    margin-top: 20px;
    padding: 10px;
    
}

.socials a{
    display: inline;
    justify-content: center;
    margin-right: 10px;
    font-size: 28px;
    color: orangered;
}

.flag-thumbnail{
    display: flex;
    flex-direction: column;
    border: 1px solid rgba(199, 204, 207, 0.634);
    border-radius: 12px;
    height:fit-content;
    margin: 0px 0px 10px 10px;
    padding: 25px 0px;
}

.flag-thumbnail-top{
    display: flex;
    flex-direction: row;
    padding: 10px;
    justify-content: space-between;
    align-items: center;
}

.flag-thumbnail-bottom{
    display: flex;
    flex-direction: column;
    padding: 10px;
    justify-content: center;
    align-items: center;
}

.flag-thumbnail-title{
    display: flex;
    padding: 5px;
    justify-content: center; 
}

.flag-thumbnail-p{
    font-size: 1.25em;
    
}

.flag-thumbnail-p2{
    font-size: 0.75em;
    color: grey;
}

